
  <header class="header">
    <div class="container-fluid">
      <div class="row align-items-center py-2" style="background-color:#155B7A;">
        <!-- Logo and Title Section -->
        <div class="col-md-6 col-sm-8 d-flex align-items-center">
          <h4 class="ms-3 text-truncate" style="color: var(--primary-color); font-size: 1.5rem;">
            <img src="{{ image2.Image.url }}" class="img-fluid" style="width: 40px; height: 40px;" alt="Logo" /> BidhaaLink
          </h4>
        </div>
  
        <!-- Navigation Section -->
        <div class=" ">
          <nav>
            <!-- Mobile-friendly toggle menu -->
          
  
            
              <ul class="nav justify-content-end flex-wrap">
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'Adminhomepage' %}">Admin Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'networkform' %}">Need to pay?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'aboutus' %}">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'contactus' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'loginpage' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  